.m-card {
  background-color:rgba($color: #FFF, $alpha: 0);
}

mat-card-title {
  justify-content: center;
}

.strong {
  font-weight: 500;
}

.a-icon {
  color:rgb(0, 46, 199);
  align-items:center;
}

.a-product-title {
  color:rgb(255, 46, 109);
}

